body  {
    background-color: #eceff1;
    box-sizing: border-box;
    height: 100%;
}

header {
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:80px;
}

.card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 23rem;
    margin: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 2px 10px;
}

.article {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 2px 10px;
}

.article h1 {
    margin: 0 2rem;
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
}

.article h2 {
    padding: 10px;
    margin: 1rem 2rem;
    font-weight: 200;
    text-align: center;
    font-size: 1.5rem;
}

.article span {
    margin-left: 5px;
}

.article p {
    margin-left: 10px;
    margin-top: 2rem;
    text-align: center;
}

.article_details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article_core {
    text-align: center;
}

.article_text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.image-container {
    width: 429px;
    height: 258px;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /*padding: 20px;*/
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button {
    margin: 1rem;
}

form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form .btn {
    margin-top: 1rem;
}

.mb-3 {
    padding-left: 1rem;
}

input[type=submit] {
    margin-left: 1rem;
}

.pagination {
    justify-content: center;
}

@media (max-width: 992px) {
    .article {
      flex-direction: column;
    }

    .image-container {
        width: 100%;
    }

    .button {
        margin-bottom: 1rem;
    }

    .article h1 {
        margin: 0 2rem;
    }

    .article h2 {
        margin: 1rem 2rem;
    }

    .form {
        flex-wrap: wrap;
    }
}

