<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Results</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reader/style.css' %}">
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
      </form>
    
    
        {% for item in request.session.api_data %}
        <div class="article">
            <h1>{{ item.title }}</h1>
            {% if item.description %}
            <h2>{{ item.description }}</h2>
            {%endif%}
            {% if item.urlToImage %}
            <img src="{{item.urlToImage}}" alt="image accompanying the article">
            {%endif%}
            
    
        <a href="{{item.url}}" target="_blank" class="button">Read</a>
        </div>
        {% endfor %}
</body>
</html>